<script type="text/javascript">
    NgRemoteMediaSelectedImage_{{ field_id }} = {
        id: "",
        name: "",
        type: "image",
        mediaType: "image",
        format: "",
        url: "",
        browse_url: "",
        previewUrl: "",
        alternateText: "",
        tags: [],
        size: "",
        variations: {},
        height: 0,
        width: 0,
    };

    NgRemoteMediaInputFields_{{ field_id }} = {
        'alt_text': 'alt_text_{{ field_id }}',
        'image_variations': 'image_variations_{{ field_id }}',
        'media_type': 'media_type_{{ field_id }}',
        'new_file': 'new_file_{{ field_id }}',
        'resource_id': 'resource_id_{{ field_id }}',
        'tags': 'tags_{{ field_id }}[]',
    };

    {% set available_variations = ngrm_available_variations('embedded', true) %}
    {% set available_editor_variations = ngrm_available_variations('embedded') %}

    NgRemoteMediaAvailableVariations_{{ field_id }} = {{ available_variations|scaling_format|json_encode|raw }};
    NgRemoteMediaAvailableEditorVariations_{{ field_id }} = {{ available_editor_variations|keys|json_encode|raw }};
</script>

<div class="ngremotemedia-type" data-id="{{ field_id }}" v-init:selected-image="RemoteMediaSelectedImage" v-init:config="RemoteMediaConfig">
    <editor-insert-modal
        v-if="editorInsertModalOpen"
        @close="handleEditorInsertModalClose"
        :loading="editorInsertModalLoading"
        field-id="{{ field_id }}"
        :config="config"
        :selected-image="selectedImage"
        :selected-editor-variation="selectedEditorVariation"
        :caption="caption"
        :css-class="cssClass"
    ></editor-insert-modal>
</div>
