{% include '@NetgenRemoteMedia/ezadminui/js_config.html.twig' %}

<script type="text/javascript">
    NgRemoteMediaSelectedImage_{{ field_id }} = {
        url: "{% if field_value %}{{ field_value.secure_url }}{% endif %}",
        type: "{% if field_value %}{{ field_value.resourceType|default('image') }}{% else %}image{% endif %}",
        {% if not field_value or field_value.mediaType == 'image' %}
            mediaType: "image",
            previewUrl: "{% if field_value %}{{ netgen_remote_media(field_value, 'admin_preview').url }}{% endif %}",
        {% elseif field_value.mediaType == 'video' %}
            mediaType: "video",
            previewUrl: "{{ netgen_remote_video_thumbnail(field_value, {'content_type_identifier': 'default', 'variation_name': 'admin_preview'}) }}",
        {% else %}
            mediaType: "other",
            previewUrl: "",
        {% endif %}
        format: "{% if field_value and field_value.metadata.format is defined %}{{ field_value.metadata.format }}{% endif %}",
        name: "{% if field_value %}{{ field_value.resourceId }}{% endif %}",
        alternateText: "{% if field_value %}{{ field_value.metaData.alt_text }}{% endif %}",
        tags: [{% if field_value %}{% for tag in field_value.metaData.tags %}"{{ tag }}",{% endfor %}{% endif %}],
        size: {% if field_value %}{{ field_value.size|default(0) }}{% else %}0{% endif %},
        id: "{% if field_value %}{{ field_value.resourceId }}{% endif %}",
        variations: {% if field_value %}{{ field_value.variations|json_encode|raw }}{% else %}{}{% endif %},
        width: {% if field_value %}{{ field_value.metaData.width|default(0) }}{% else %}0{% endif %},
        height: {% if field_value %}{{ field_value.metaData.height|default(0) }}{% else %}0{% endif %}
    };

    NgRemoteMediaInputFields_{{ field_id }} = {
        {% for name, full_name in input_fields %}
            '{{ name }}': '{{ full_name }}'{% if not loop.last %},{% endif %}
        {% endfor %}
    };

    {% set available_variations = ngrm_available_variations(content_type_identifier, true) %}
    {% set available_editor_variations = ngrm_available_variations(content_type_identifier) %}

    NgRemoteMediaAvailableVariations_{{ field_id }} = {{ available_variations|scaling_format|json_encode|raw }};
    NgRemoteMediaAvailableEditorVariations_{{ field_id }} = {{ available_editor_variations|keys|json_encode|raw }};
</script>

<div class="ngremotemedia-type" data-id="{{ field_id }}" v-init:selected-image="NgRemoteMediaSelectedImage" v-init:config="NgRemoteMediaConfig">
    <interactions
        field-id="{{ field_id }}"
        :config="config"
        :selected-image="selectedImage"
    ></interactions>
</div>
