{% trans_default_domain "ezexceed" %}

{% set resourceType = value.metaData.resource_type|default('image') %}

{% if resourceType == 'image' %}
    {% set media = netgen_remote_media(value, availableFormats, '300x200') %}
{% endif %}

{% set attribute_base = "ContentObjectAttribute" %}

<div class="attribute-base"
     data-handler='remotemedia/remotemedia'
     data-url-root="/"
     data-paths='{
        "remotemedia" : "/extension/ngremotemedia/design/ezexceed/javascript/"
    }'
    data-bootstrap='{{ value|json_encode }}'
>

    {% if value.resourceId and resourceType == 'image' and not netgen_remote_media_fits(value, availableFormats) %}
        <p class="error">{{ "ngremotemedia.edit.media_too_small"|trans }}</p>
    {% endif %}

    <input type="hidden" name="{{ attribute_base }}_media_id_{{ fieldId }}" value="{{ value.resourceId }}" class="media-id data"/>

    {% if value.resourceId %}
    <div class="eze-image">

        {% if value.resourceId %}
            {% include "NetgenRemoteMediaBundle:ezexceed/edit:preview.html.twig" %}
        {% endif %}

        <div class="remotemedia-alttext">
            <span class="help-block description">{{ 'ngremotemedia.edit.alt_text'|trans }}</span>
            <input type="text"
                   name="{{ attribute_base }}_alttext_{{ fieldId }}" value="{{ value.metaData.alt_text }}" class="media-alttext data">
        </div>
        <div class="remotemedia-tags">
            <div class="input-append add-tag">
                <input type="text" class="tag" placeholder="{{ 'ngremotemedia.edit.tag.write'|trans }}" data-autosave="off">
                <button class="btn tag" disabled type="button">{{ 'ngremotemedia.edit.tag.add'|trans }}</button>
            </div>
            <div class="tags"></div>
        </div>
    </div>
    {% endif %}

    <div class="eze-no-image">
        <button type="button" class="btn from-remotemedia">
            {{ 'ngremotemedia.edit.browse'|trans }}
        </button>
        <span class="upload-container">
            <button type="button" class="btn upload-from-disk">
                {{ 'ngremotemedia.edit.upload'|trans }}
            </button>
            <div class="upload-progress hide"><div class="progress"></div></div>
        </span>
    </div>
</div>
