{% trans_default_domain "ezexceed" %}

{% set resourceType = value.metaData.resource_type|default('image') %}

{% if resourceType == 'image' and media %}
    <div class="thumbnail">
        <img src="{{ media.url }}" />

        <button type="button" class="close remove"
                name="CustomActionButton[{{ fieldId }}_delete_media]"
                value="{{ 'ngremotemedia.edit.remove'|trans }}">×</button>

        {% include "NetgenRemoteMediaBundle:ezexceed/edit:action_button.html.twig" %}
    </div>
{% elseif resourceType == 'video' %}
    {% set thumb = netgen_remote_thumbnail(value) %}

    <div class="thumbnail">
        <img src="{{ thumb }}" />

        <button type="button" class="close remove"
                name="CustomActionButton[{{ fieldId }}_delete_media]"
                value="{{ 'ngremotemedia.edit.remove'|trans }}">×</button>
    </div>

{% endif %}
