{% set css_class = params.cssclass|default(null) %}
{% set resource_id = params.resourceId|default(null) %}
{% set resource_type = params.resourceType|default(null) %}
{% set coords = params.coords|default('[]') %}
{% set variation = params.variation|default(null) %}
{% set caption = params.caption|default(null) %}
{% set align = align|default(null) %}
{% set css_class = params.cssclass|default(null) %}

{% if resource_id and resource_type %}
    {% set resource = netgen_remote_media_embed(resource_id, resource_type, coords) %}

    <div class="ez-ngremotemedia remote-image-inline remote-{{ resource.mediaType }}{% if css_class %} {{ css_class }}{% endif %}{% if align %} object-{{ align }} align-{{ align }}{% endif %}">
        {% if resource.mediaType == 'image' %}
            {% set image_url = resource.secure_url %}
            {% if variation %}
                {% set variation = netgen_remote_variation_embed(resource, variation) %}
                {% set image_url = variation.url %}
            {% endif %}

            <img src="{{ image_url }}" alt="{{ resource.metaData.alt_text }}">
        {% elseif resource.mediaType == 'video' %}
            {{ netgen_remote_video_embed(resource, variation)|raw }}
        {% else %}
            <a href="{{ netgen_remote_download(resource) }}">{{ resource.resourceId }}</a>
        {% endif %}

        {% if caption %}
            <div class="img-caption">{{ caption }}</div>
        {% endif %}
    </div>
{% endif %}
