<a>
    {{#if toSmall}}
    <img class="white" src="/extension/ngremotemedia/design/standard/images/white_alert.png"
        alt="{{translate "Image is to small for this version"}}"
        title="{{translate "Image is to small for this version"}}" />
    <img class="black" src="/extension/ngremotemedia/design/standard/images/white_alert.png"
        alt="{{translate "Image is to small for this version"}}"
        title="{{translate "Image is to small for this version"}}" />
    {{/if}}
    {{name}}<br />
    <small>{{width}}x{{height}}</small>
</a>
<div class="overlay"></div>
